button {
    display: inline-flex;

    cursor: pointer;
}

button * {
    pointer-events: none;
}

.node-button-container, #modal-button-container {
    display: inline-flex;
}

#modal-button-container {
    flex-direction: row-reverse;
}

/* Button style stripping */

.node-button, .modal-button {
    background: inherit;
    padding: inherit;
    margin: inherit;
    border: inherit;
    font-size: inherit;
}

/* Positioning and cursor */

.node-svg {
    width: 1.5em;
}

.modal-svg {
    width: 2.6em;
}

/* Mouseover/tab changes */

.node:not(.focused-source) > .node-interaction-container:not(:hover):not(:focus) .node-svg {
    opacity: 0.5;
    filter: url(#svg-blur);
}

.node:not(.focused-source) > .node-interaction-container:not(:hover):not(:focus) circle {
    stroke: transparent;
}

/* Bug-prevention */

#object-tree.node-edit .node-move,
#object-tree.node-move .node-edit {
    display: none;
}

/* Colours */

.modal-button {
    border-left: 2px solid white;
}

.node-svg, .modal-svg {
    fill: none;
}

.node-svg {
    stroke: black;
}

.modal-svg {
    stroke: white;
}

/* Node's neither focused, tabbed nor hovered */
.node:not(.focused-source) > .node-interaction-container:not(:hover):not(:focus) .node-svg {
    fill: none;
}

/* Not active */
.node-button:not(.active):focus > svg,
.node-button:not(.active):hover > svg,
    /* Active */
.node-button.active:not(:hover):not(:focus) > svg {
    fill: black;
}

.node:not(.focused-source) > .node-interaction-container:not(:hover):not(:focus) .node-delete > svg,
    /* Not active */
.node-delete:focus:not(.active) > svg,
.node-delete:hover:not(.active) > svg,
    /* Active */
.node-delete.active:not(:hover):not(:focus) > svg {
    stroke: #ff0000;
}

.node:not(.focused-source) > .node-interaction-container:not(:hover):not(:focus) .node-create > svg,
    /* Not active */
.node-create:focus:not(.active) > svg,
.node-create:hover:not(.active) > svg,
    /* Active */
.node-create.active:not(:hover):not(:focus) > svg {
    stroke: #ffff00;
}

.node:not(.focused-source) > .node-interaction-container:not(:hover):not(:focus) .node-edit > svg,
    /* Not active */
.node-edit:focus:not(.active) > svg,
.node-edit:hover:not(.active) > svg,
    /* Active */
.node-edit.active:not(:hover):not(:focus) > svg {
    stroke: #7cfc00;
}

.node:not(.focused-source) > .node-interaction-container:not(:hover):not(:focus) .node-move > svg,
    /* Not active */
.node-move:focus:not(.active) > svg,
.node-move:hover:not(.active) > svg,
    /* Active */
.node-move.active:not(:hover):not(:focus) > svg {
    stroke: #70c2db;
}
