/* Button style stripping */

.node-button {
    background: inherit;
    padding: inherit;
    margin: inherit;
    border: inherit;
    font-size: inherit;
}

/* Positioning and cursor */

.node-button-svg {
    width: 1.5em;
    cursor: pointer;
}

/* Mouseover/tab changes */

.node:not(.focused-source) > .node-data-container:not(:hover) .node-button-svg {
    opacity: 0.5;
    filter: url(#svg-blur);
}

.node:not(.focused-source) > .node-data-container:not(:hover) circle {
    stroke: transparent;
}

/* Bug-prevention */

.root.node-button-edit .node-button-move,
.root.node-button-move .node-button-edit {
    pointer-events: none;
    opacity: 0.3;
}

/* Colours */

/* Node's neither focused, tabbed nor hovered */
.node:not(.focused-source) > .node-data-container:not(:hover) .node-button-svg {
    fill: none;
}

/* Button's tabbed but not selected */
.node-button:not(.active):focus > *,
/* Button's hovered but not selected */
.node-button-svg:not(.active):hover,
/* Button's selected but not tabbed */
.node-button.active:not(:focus) > *,
/* Button's selected but not hovered */
.node-button-svg.active:not(:hover) {
    fill: black;
}

.node:not(.focused-source) > .node-data-container:not(:hover) .node-button-delete,
/* Tab */
.node-button:focus > .node-button-delete:not(.active),
.node-button:focus > .node-button-delete.active,
/* Hover */
.node-button-delete:not(.active):hover,
.node-button-delete.active:not(:hover) {
    stroke: #ff0000;
}

.node:not(.focused-source) > .node-data-container:not(:hover) .node-button-create,
    /* Tab */
.node-button:focus > .node-button-create:not(.active),
.node-button:focus > .node-button-create.active,
    /* Hover */
.node-button-create:not(.active):hover,
.node-button-create.active:not(:hover) {
    stroke: #ffff00;
}

.node:not(.focused-source) > .node-data-container:not(:hover) .node-button-edit,
    /* Tab */
.node-button:focus > .node-button-edit:not(.active),
.node-button:focus > .node-button-edit.active,
    /* Hover */
.node-button-edit:not(.active):hover,
.node-button-edit.active:not(:hover) {
    stroke: #7cfc00;
}

.node:not(.focused-source) > .node-data-container:not(:hover) .node-button-move,
    /* Tab */
.node-button:focus > .node-button-move:not(.active),
.node-button:focus > .node-button-move.active,
    /* Hover */
.node-button-move:not(.active):hover,
.node-button-move.active:not(:hover) {
    stroke: #70c2db;
}
