#object-tree {
    height: 60vh;
    overflow-y: auto;
}

.node-data-container {
    font-size: 18px;
    user-select: none;
}

/* Node spacing */

.node .node .node {
    margin-left: 1.8em;
}

.node-data-container {
    display: flex;
    align-items: center;
}

.node-button-container {
    margin-right: 0.4em;
}

.node:not(.middle):not(.root):last-child > .node-data-container,
.node:not(.middle):not(.root) + .focused > .node-data-container {
    /*
    Using border rather than margin/padding
    prevents root being hoverable at the bottom &
    prevents the background image extending further.
     */
    border-bottom: 0.4em transparent;
}

/* Background image */

.node-data-container {
    padding-left: 5px;

    background-size: 5px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#bbb, #bbb);

    transition: background-size 300ms, color 500ms;
}

.node-data-container:hover,
.node.focused > .node-data-container {
    color: black;
    background-size: 100%;
}

/* Focus */

.node.focused-ancestor .node:not(.focused-ancestor):not(.focused):not(.focused *) {
    display: none;
}

/* Edit */

.node-aligner {
    flex-grow: 1;
}

/* Avoid showing annoying accidental highlights */
.node-aligner > *[disabled]::selection {
    background: none;
}

.node-aligner > * {
    width: 92%;
    padding: 0 1.5%;

    /* Override input style */
    font: inherit;
    background: inherit;
    color: inherit;
    border: inherit;
}

.node-value:not([disabled]) {
    background: #D9FFC0;
}

.rejected > .node-data-container .node-value {
    background: #FFB4BE;
}

.node-button-svg {
    stroke: black;
    fill: none;
}
