#object-tree {
    height: 60vh;
    overflow-y: auto;
}

.node-data-container {
    font-size: 18px;
    user-select: none;
}

/* Node spacing */

#object-tree {
    display: flex;
}

.root {
    /* Makes all nodes fill available space */
    flex-grow: 1;
}

.node-child-container .node-child-container {
    /* Indent with depth */
    margin-left: 1.8em;
}

.node-data-container {
    /* Prevents line break between buttons and input */
    display: flex;
    /* Ensures buttons are aligned with input if they have different heights */
    align-items: center;
}

.node:not(.middle):not(.root):last-child > .node-data-container,
.node:not(.middle):not(.root) + .focused-source.focused-branch > .node-data-container {
    /*
    Using border rather than margin/padding
    prevents root being hoverable at the bottom &
    prevents the background image extending further.
     */
    border-bottom: 0.4em solid transparent;
}

/* Background image */

.node-data-container {
    padding-left: 5px;

    background-size: 5px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#bbb, #bbb);

    transition: background-size 300ms, color 500ms;
}

.node-data-container:hover,
.node.focused-source > .node-data-container {
    color: black;
    background-size: 100%;
}

/* Focus */

.root.focused-branch .node:not(.focused-branch) {
    display: none;
}

.node.focused-source > .node-child-container > .node {
    display: inherit;
}

.node-child-container {
    transition: opacity 200ms;
}

.node.focused-source.focused-branch .node:not(.focused-branch) {
    opacity: 0.3;
}

/* Edit */

.node-aligner {
    flex-grow: 1;
    display: flex;
}

/* Avoid showing annoying accidental highlights */
.node-aligner > *[disabled]::selection {
    background: none;
}

.node-value, .node-label {
    flex-grow: 1;
    margin: 0.2em 0.5em;
    padding: 0 0.5em;
    text-overflow: ellipsis;

    /* Override input style */
    font: inherit;
    background: inherit;
    color: inherit;
    border: inherit;
}

.node-value[type=color] {
    height: 1.2em;
}

.node-value[type=color]:not([disabled]) {
    cursor: pointer;
}

.node-value:not([disabled]) {
    background: #D9FFC0;
}

.rejected > .node-data-container .node-value {
    background: #FFB4BE;
}

.node-button-svg {
    stroke: black;
    fill: none;
}
