#modal-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0003
}

#modal-content {
    /* Position & size */
    position: relative;
    margin: 12vh auto;
    padding: 0;
    width: 80%;

    /* Colour & accents */
    background: black;
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    box-shadow: 1px 1px 10px 4px #00000015, 0 0 30px 10px #00000065;
    outline: white solid 2px;
}

#modal-header {
    display: flex;

    border-bottom: #ffffff solid 2px;

    /* Font */
    font-size: 4.5vh;
    align-items: center;
    text-align: center;
}

#title-wrapper {
    flex-grow: 1;
    display: inline;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0 20px;
}

#title {
    text-align: center;
    vertical-align: middle;
}

.frame-button {
    font-family: Helvetica, Verdana, sans-serif;
    float: right;
    font-size: 2em;
    border-left: 2px solid white;
    width: 1.3em;
    user-select: none;
}

.frame-button:hover,
.frame-button:focus {
    text-decoration: none;
    cursor: pointer;
}

#toggle-labels:after {
    font-weight: bold;
    content: '﹖';
}

#toggle-labels.active:after {
    font-weight: bold;
    content: '﹗';
}

#toggle-labels:hover,
#toggle-labels:focus {
    background-color: #007997;
}

#close:after {
    content: '×';
}

#close:hover,
#close:focus {
    background-color: #aa0000;
}

#modal-body {
    overflow: hidden;
    position: relative;
}
