button {
    display: inline-flex;
    cursor: pointer;

    /* Style stripping */
    background: none;
    font-size: inherit;
    padding: 0;
    margin: 0;
    border: none;
    outline-offset: -2px;
}

button * {
    pointer-events: none;
}

svg {
    fill: none;
}

input {
    font: inherit;
    background: inherit;
    color: inherit;
    border: none;
}

:focus-visible:not(button):not(input) {
    outline: none;
}

label {
    cursor: inherit;
}
